@if (loading()) {
<p class="loading">Loading game...</p>
} @else if (!waiting() && !joined()) {
<p class="error">Game already started.</p>
} @else if (waiting() && !joined()) {
<form (submit)="joinGame()">
  <input
    type="text"
    placeholder="Enter your name"
    [(ngModel)]="playerName"
    name="playerName"
  />
  <button type="submit">Join Game</button>
  @for (player of game()?.players; track player) {
  <p>{{ player.name }}</p>
  }
</form>
} @else if (game()?.status === 'waiting' && joined()) {
<p class="waiting">Waiting for players...</p>
<button (click)="startGame()">Start Game</button>
@for (player of game()?.players; track player) {
<p>{{ player.name }}</p>
} } @else if (game()?.status === 'in-progress') {
<p class="waiting">{{ game()?.name }}</p>
<p>{{ game()?.currentPlayer }}'s turn</p>
<div class="game-board">
  @for (entry of game()!.cards.entries(); track entry[0]) {
  <div
    class="card"
    (click)="
      this.playerName === game()?.currentPlayer ? flipCard(entry[0]) : null
    "
  >
    @if (entry[1].flipped || game()!.matchedCards.includes(entry[1].value)) {
    <div class="card-front">
      <img [src]="'https://robohash.org/3' + entry[1].value" alt="Card Image" />
    </div>
    } @else {
    <div class="card-back">?</div>
    }
  </div>
  }
</div>
} @else if (game()?.status === 'finished') {
<p class="finished">Game finished!</p>
<p class="finished">{{ winner() }} wins!</p>
}
